.body {
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: black;
}

.main {
    border: 5px solid rgb(97, 93, 93);
    height: 680px;
    width: 80%;
}

.sides {
    display: flex;
    height: 40px;
    width: 30%;
    background-color: rgb(97, 93, 93);
    justify-content: right;
    border-top-left-radius: 5px;
}